
.Commit span {
  display: inline-block;
  padding: .375rem .75rem;
  border: 1px solid transparent;
  font-size: small;
}

.Commit-btn {
  float: right;
  width: 100px;
  font-weight: bold;
}

.Commit .Commit-sha {
  padding-left: 0px;
  font-weight: bold;
  min-width: 80px;
}

.Commit .Commit-date {
  min-width: 180px;
  padding-left: 0px;
}

.Commit-avatar {
  height: 20px;
  width: 20px;
  background-color: #bcc;
}

.Commit-message {
  clear: both;
  font-size: small;
  padding-right: 120px;
}