.App {
  text-align: center;
  color: #24292e;
}

.App-logo {
  height: 50px;
  float: left;
}

.App-header {
  background-color: #282c34;
  background-image: url('./applogo.png');
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: 10px 10px;

  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-header input {
  width: 300px;
}

.App-header .btn-primary {
  width: 130px;
  margin-left: 5px;
}

.App .AppList {
  min-height: 90vh;
  padding: 20px;
}

.App .AppList header h4 {
  margin: 5px 0px;
  font-size: large;
  text-align: left;
}

.App .ErrorAlert {
  margin-bottom: 0px;
}

