
.ProjectList {
  border-right: solid 1px #bccc;
  font-weight: small;
}

.ProjectList header h4 {
  padding: 15px 15px 15px 0px;
}

.ProjectList header {
  text-align: left;
  margin-bottom: 5px;
}

.ProjectList-orgheader {
  border-bottom:solid 1px #bccc;
  padding-bottom: 15px;;
}

.ProjectList-orgheader span {
  margin-left: 10px;
}
